{% extends "mi_est_app/base.html" %}

{% block page_header %}
    <h3>Estacionamiento: {{ arriendo.source_model.titulo }}</h3>
{% endblock page_header %}

{% block content %}
    
    <ul class="list-group border-bottom pb-2 mb-4">
        <li class="list-group-item border-0">Tipo de estacionamiento: {{ arriendo.source_model.tipo }}</li>
        <li class="list-group-item border-0">Precio: {{ arriendo.source_model.precio }}</li>
        <li class="list-group-item border-0">Ancho: {{ arriendo.source_model.ancho }}</li>
        <li class="list-group-item border-0">Largo: {{ arriendo.source_model.largo }}</li>
        <li class="list-group-item border-0">Descripcion: {{ arriendo.source_model.desc }}</li>
    </ul>
{% endblock content %}