{% extends "mi_est_app/base.html" %}

{% block content %}
    <h3>Estacionamiento: {{ esta.titulo }}</h3>
    <br>
    <ul>
            <li>Publicado: {{ esta.fecha }}</li>
            <li>Tipo de estacionamiento: {{ esta.tipo }}</li>
            <li>Precio: {{ esta.precio }}</li>
            <li>Ancho: {{ esta.ancho }} cm</li>
            <li>Largo: {{ esta.largo }} cm</li>
            <li>Descripcion: {{ esta.desc }}</li>
    </ul>
    <button><a href="{% url 'mi_est_app:editar_arriendo' esta.id %}">Editar arriendo</a></button>
    
    <form action="{% url 'mi_est_app:eliminar_arriendo' esta.id%}">
        <button name='submit'>Eliminar arriendo</button>
    </form>
{% endblock content %}