{% extends "mi_est_app/base.html" %}
{% load django_bootstrap5 %}

{% block page_header %}
    <h3>{{ esta.titulo }}</h3>
{% endblock page_header %}

{% block content %}

    <ul class="list-group border-bottom pb-2 mb-4">
        <li class="list-group-item border-0">Publicado: {{ esta.fecha }}</li>
        <li class="list-group-item border-0">Tipo de estacionamiento: {{ esta.tipo }}</li>
        <li class="list-group-item border-0">Precio: {{ esta.precio }}</li>
        <li class="list-group-item border-0">Ancho: {{ esta.ancho }} cm</li>
        <li class="list-group-item border-0">Largo: {{ esta.largo }} cm</li>
        <li class="list-group-item border-0">Descripcion: {{ esta.desc }}</li>
        <br>

        <form action="{% url 'mi_est_app:estacionamiento_arrendado' esta.id%}" method="post">
            {% csrf_token %}
            {% bootstrap_button button_type="submit" content="Agregar a arriendos" %}
        </form>
    </ul>


{% endblock content %}